body {
    font-family: Arial, sans-serif;
    background: url('assets/fondo.webp') no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    padding: 50px;
    color: rgb(255, 255, 255);
}


.container {
    background: #1e1e1e; 
    color: #ffffff; 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    max-width: 500px;
    margin: auto;
}




h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #555; 
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
    background: #2a2a2a; 
    color: white; 
}

select:focus {
    outline: none;
    border-color: #007bff; 
}


button {
    background: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s, transform 0.3s;
}

button:hover {
    background: #0056b3;
    transform: scale(1.05); /* Agregar un pequeño aumento de tamaño */
}

#resultado {
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    background: #333;
    color: white;
    font-size: 14px;
    overflow-y: auto; /* Permite desplazamiento vertical */
    max-height: 200px; /* Ajusta este valor según el tamaño que prefieras */
}


.hidden {
    display: none;
}



.hidden {
    display: none;
}

#loadingIcon {
    margin-right: 10px;
}
