body {
    font-family: Arial, sans-serif;
    background: url('assets/fondo.webp') no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    padding: 50px;
    color: rgb(255, 255, 255);
}


.container {
    background: #1e1e1e; 
    color: #ffffff; 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    max-width: 500px;
    margin: auto;
}




h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #f0ad4e;
}

label {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    color: #f0ad4e;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #555; 
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
    background: #2a2a2a; 
    color: white; 
}

select:focus {
    outline: none;
    border-color: #f0ad4e; 
}


button {
    background: #f0ad4e;
    color: #1e1e1e;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s, transform 0.3s;
}

button:hover {
    background: #ce9443;
    transform: scale(1.05); 
}

#resultado {
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    background: #333;
    color: white;
    font-size: 14px;
    overflow-y: auto; 
    max-height: 200px; 
}

.logo {
    width: 50px;
    margin: 0 auto 20px;
}
.hidden {
    display: none;
}



.hidden {
    display: none;
}

#loadingIcon {
    margin-right: 10px;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#resultado .animado {
    animation: fadeInUp 0.5s ease-in-out;
}

#mensaje {
    font-size: 18px;
    font-weight: bold;
    color: #f0ad4e; 
    text-transform: uppercase; 
    margin: 0;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2); 
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); 
}

#rutaArchivo {
    font-size: 14px;
    color:rgb(255, 255, 255); 
    margin-top: 10px;
}